.App{
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(#121212, #212b46);
}

.filtro{
    border: #121212 solid 2px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#545432, #543254);
    align-items: center;
    padding: 3px;
}

select{
    background: rgba(255, 255, 255, 0.4);
    margin-left: 5px;
}
.mostrar{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    margin: 5px;
}